.todo-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.todo-container h1 {
    text-align: center;
    color: #333;
}

.todo-container hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #ccc;
}

.todo-input {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-item p {
    margin: 0;
}

.todo-item p:last-child {
    margin-left: auto;
}

.todo-item p:first -child {
    margin:
        0;
    text-decoration: none;
}

.todo-item.completed p:first -child {
    text-decoration: line-through;
}